body {
	/* 60px to make the container go all the way to the bottom of the topbar */
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the footbar */
	padding-bottom: 60px;
	background-attachment: fixed;
}

/* footer bar */
#footer {
	position: fixed;
	height: 50px;
	bottom: 0px;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #111
}

#red {
	color: red;
	font-family: KaiTi_GB2312;
}

/* 字体属性设置 */
.titile_fontset {
	font-weight: bold;
	font-size: 20pt;
}

.content_fontset {
	font-size: 12pt;
	line-height: 120%;
	font-style: itelic;
	font-family: Verdana;
}

#center {
	text-align: center;
}

#titlestyle {
	clear: both;
	margin-top: -20px;
	padding-top: 5px;
	text-align: center;
	border-top: 1px solid #000;
	text-align: center;
}

.seplinestyle {
	clear: both;
	margin-top: 15px;
	padding-top: 1px;
	text-align: center;
	border-top: 0px solid #000;
}

/* 一级目录属性设置 */
.firstlevel {
	font-size: 150% !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #08c !important;
}

.fontfamilyset {
	font-family: KaiTi_GB2312;
}

/* alignright && backtop is for 返回顶部按钮 */
.alignright {
	float: right;
}

.backtop {
	position: fixed;
	margin-right: 20px; /*座标、距离酌情而定*/
	right: 0%;
	bottom: 30px;
	display: none;
	z-index: 999999999;
}

/* googleSearch is for 谷歌搜索 */
.googleSearch {
	position: fixed;
	margin-right: 20px;
	right: 0%;
	top: 10px;
	display: block;
	z-index: 999999999;
}

/* plyrBtns is for menu in left/top */
.plyrBtns {
	position: fixed;
	width: 32px;
	height: 32px;
	left: 10px;
	top: 8px;
	display: block;
	z-index: 999999999;
}

/* to make div show border */
.solid_border {
	border: 1px solid #999;
	padding: 3px;
}

/* to make p show border */
.dotted_border {
	border: 1px dotted #999;
	padding: 3px;
}

/* to set div's property in index_text.jsp and so forth */
.text_slide {
	display: block;
	width: 1024px;
	margin: -20px auto 0px;
	padding: 40px 60px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	border: 1px solid rgba(0, 0, 0, .3);
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	font-size: 25px;
	line-height: 30px;
	letter-spacing: -1px;
	filter: alpha(opacity =   80);
	opacity: 0.8;
}

/* set h2 not line feed */
h2 {
	display: inline;
}

/* set font-size of more */
.more {
	font-size: 15px;
}

/* set geek tab's color to be white */
.geekColor {
	color: white !important;
}

/* set picture's style paste from furatto.css */
.img {
	width: 290px;
	max-width: 100%;
	height: 105px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid black;
	filter: alpha(opacity =   80);
	opacity: 0.8;
}

.img-circular {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-ms-border-radius: 50% !important;
	-o-border-radius: 50% !important;
	border-radius: 50% !important;
}

.img-well {
	-webkit-border-radius: 2%;
	-moz-border-radius: 2%;
	-ms-border-radius: 2%;
	-o-border-radius: 2%;
	border-radius: 2%;
}

.img-hover {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.img-hover:hover {
	border: 3px solid #27ae60;
}

/* set style of the menu in the left top center */
menunav {
	position: fixed;
	top: 35px;
	left: 30px;
	background: red;
	z-index: 999999999;
}

menunav>a {
	position: absolute;
	width: 30px;
	height: 30px;
	background: red;
	bottom: -23px;
	left: -23px;
	z-index: 2;
	border-radius: 40px;
	font-size: 32px;
	font-weight: bold;
	font-family: "Helvetica Neue", HelveticaNeue;
	text-align: center;
	line-height: 24px;
	color: white;
	text-decoration: none;
	border: 3px solid white;
	-webkit-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.6);
}

/* set style of the tag ‘textarea’ */
.textareaSubmitSite {
	overflow: auto; /* rm textarea's scroll bar in IE */
	resize: none;
	/* rm textarea's dragging property in Chrome and Firefox */
	width: 394px;
	height: 100px;
	max-width: 400px;
	max-height: 100px;
	margin: 0px 0px 0px 0px;
}

/* set style of the tag ‘ul && li’ */
.noneListStyle {
	list-style: none;
}

.dot {
	border-bottom: 1px dotted #999;
	line-height: 28px;
	padding: 15px 0;
}

/* set style of masking-out on img */
.img-desc { 
    position: relative; 
    display: block;
    text-align: center;
}

.cite { 
    background: #111; 
    filter:alpha(opacity=55); 
    opacity:.75; 
    color: #fff; 
    position: absolute; 
    bottom: 10px; 
    left: 3px; 
    width: 245px; 
    padding: 0px; 
    border-top: 1px solid #999;
    display: none;
}

.cite2 { 
    background: #111; 
    filter:alpha(opacity=55); 
    opacity:.75; 
    color: #fff; 
    position: absolute; 
    bottom: 10px; 
    left: 3px; 
    width: 272px; 
    padding: 0px; 
    border-top: 1px solid #999;
    display: none;
}