body {
	background-color: #d0d0d0;
	background-image: url(../bg/shadow.png), url(../bg/bg_grid.png);
	background-repeat: repeat-x, repeat;
	/* 60px to make the container go all the way to the bottom of the topbar */
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the footbar */
	padding-bottom: 60px;
}

/* footer bar */
#footer {
	position: fixed;
	height: 50px;
	bottom: 0px;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #111
}

#red {
	color: red;
}

/* 字体属性设置 */
.titile_fontset {
	font-weight: bold;
	font-size: 20pt;
}

.content_fontset {
	font-size: 12pt;
	line-height: 120%;
	font-style: itelic;
	font-family: Verdana;
}

#imgstyle {
	border: 5px groove #CC6666;
	width: 280px;
	height: 100px;
}

#center {
	text-align: center;
}

#titlestyle {
	clear: both;
	margin-top: -20px;
	padding-top: 5px;
	text-align: center;
	border-top: 1px solid #000000;
	text-align: center;
}

.seplinestyle {
	clear: both;
	margin-top: 15px;
	padding-top: 1px;
	text-align: center;
	border-top: 0px solid #000000;
}

/* alignright && backtop is for 返回顶部按钮 */
.alignright {
	float: right;
}

.backtop {
	position: fixed;
	_position: absolute;
	margin-right: 20px; /*座标、距离酌情而定*/
	right: 0%;
	bottom: 30px;
	display: none;
}